<style>
    p {
        text-align: justify;
        font-size: 1em;
    }
    img{
        margin: 10px;
    }
</style>
<h4>The Origin</h4>
<p class="grey-text text-darken-2">Learnize was born out of a spark. The spark was a question. Why should one read or learn alone? When the entire world is talking about online education, web-based learning and what not. We were disturbed by a simple thought, a thought which evolved into a solution &amp; a solution which later evolved into a company.</p>
<p class="grey-text text-darken-2">The thought was a simple one, while everyone learned and scored marks, people are becoming more &amp; more lonely. A child good at mathematics, a mischievous student full of curiosity and a nerdy girl who loves to dance are slowly suppressed not by parents or teachers but by tech around us. We wanted to turn this around and make the tech work for us.</p>

<p class="grey-text text-darken-2">Learnize is a proud Founder Institute startup and is recognised as one of the 11 most promising startups in India. We have been continuously covered and featured in print &amp; web media across the Indian states of Tamil Nadu, Jharkhand, Bihar and Karnataka.</p>
<!--IMages-->
<div class="row">
    <div class="col s12 m12 l4 xl4"> <img class="responsive-img materialboxed" src="../resources/home/origin/fi_grad_image.jpg"> <img class="responsive-img materialboxed" src="../resources/home/origin/13721076_310565062621399_1172638404_n.jpg"> </div>
    <div class="col s12 m12 l4 xl4"> <img class="responsive-img materialboxed" src="../resources/home/origin/DSC_0323.jpg"> <img class="responsive-img materialboxed" src="../resources/home/origin/15624399_366918863665431_8936915434951671808_n.jpg"></div>
    <div class="col s12 m12 l4 xl4"><img class="responsive-img materialboxed" src="../resources/home/origin/13561558_1013254425428813_1922713442_n.jpg"> <img class="responsive-img materialboxed" src="../resources/home/origin/IMG-20161209-WA0013.jpg"> <img class="responsive-img materialboxed" src="../resources/home/origin/received_2192928047598117-1.jpg"></div>
</div>
<h4>What is Learnize?</h4>
<p class="grey-text text-darken-2">The basic idea of socialising is fading away from our lives. Learnize was born out of this thought that learning should be socialising. Learnize stands for Learn + Socialize = Learnize.</p>

<p class="grey-text text-darken-2">We aren’t against online learning or tutoring. We believe learning should start by socialising and then moving to a tech platform. After all, tech is an enabler to solve people’s problem and if you don’t know or understand the people, the problem doesn’t really exist.</p>
<!--Images-->
<div class="row">
    <div class="col s12 m12 l4 xl4"><img class="responsive-img materialboxed" src="../resources/home/what/DSC_0420.jpg" alt=""> <img class="responsive-img materialboxed" src="../resources/home/what/DSC_0370.jpg" alt=""> <img class="responsive-img materialboxed" src="../resources/home/what/DSC_0323.jpg" alt=""></div>
    <div class="col s12 m12 l4 xl4"> <img class="responsive-img materialboxed" src="../resources/home/what/DSC_0321.jpg" alt=""> <img class="responsive-img materialboxed" src="../resources/home/what/DSC_0317.jpg" alt=""> <img class="responsive-img materialboxed" src="../resources/home/what/DSC_0298.jpg" alt=""></div>
    <div class="col s12 m12 l4 xl4"><img class="responsive-img materialboxed" src="../resources/home/what/DSC_0297.jpg" alt=""> <img class="responsive-img materialboxed" src="../resources/home/what/DSC_0292.jpg" alt=""> </div>
</div>
<h4>What do we do?</h4>
<p class="grey-text text-darken-2">In simple words, we teach, train and mentor students of all age groups by bringing them together with new age teaching methodologies like design thinking &amp; flipped classroom.</p>
<!--Images-->
<div class="row">
    <div class="col s12 m12 l4 xl4"> <img class="responsive-img materialboxed" src="../resources/home/do/received_741986572626701.jpg" alt=""></div>
    <div class="col s12 m12 l4 xl4"><img class="responsive-img materialboxed" src="../resources/home/do/received_166816680461127.jpg" alt=""></div>
    <div class="col s12 m12 l4 xl4"><img class="responsive-img materialboxed" src="../resources/home/do/IMG_20161211_191150.jpg" alt=""> </div>
</div>
<h4>How do we do it?</h4>
<p class="grey-text text-darken-2">Learning with Learnize begins by participating in our camps. All round the year, we have boot camps, summer camps &amp; winter camps for specific subjects &amp; categories.</p>
<!--Images-->
<div class="row">
    <div class="col s12 m12 l4 xl4"> <img class="responsive-img materialboxed" src="../resources/home/how/Poster-001.jpg" alt=""></div>
    <div class="col s12 m12 l4 xl4"><img class="responsive-img materialboxed" src="../resources/home/how/received_2192926874264901.jpg" alt=""></div>
    <div class="col s12 m12 l4 xl4"><img class="responsive-img materialboxed" src="../resources/home/how/banner.jpg" alt=""> </div>
</div>
<h4>Where is the tech involved?</h4>
<p class="grey-text text-darken-2">Our camps are powered by people and enabled by tech. We use tools like Virtual Reality &amp; Augmented Reality to help our students understand better.</p>
<script>
    $('.materialboxed').materialbox();
</script>
